/target
.vscode

# debug files
archive/
debug/

# Other random things
old/
media/
evaluation/

# profiling
perf.data
perf.data.old
flamegraph*.svg
profile.json

# other tools
gumtree/

# Nix
/result

# Direnv
/.direnv
/.envrc
